<!doctype html>
<html>
	<head>
		<title>Testing Node with Redis</title>
		<link href="/public/stylsheets/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="main-container">
			<div id="main-content">
			{{{body}}}
			</div>
		</div>
	</body>
</html>
