<!doctype html>
<html>
	<head>
		<title>Testing Node with Redis</title>
		<link href="/public/stylsheets/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="main-container">
			<div id="main-content">
			{{{body}}}
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		{{#if vue}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.7/vue.min.js"></script>
		<script src="/public/js/main.js"></script>
		{{/if}}
	</body>
</html>
