<h1>^^this.message^^</h1>
<ul v-if="stuff">
	<li v-for="item in stuff"><span>^^item.title^^</span><img :src="item.image" style="height: 20%;"/></li>
</ul>
<p>^^this.searchterm^^</p>
<search :term="searchterm" v-model="searchterm"></search>


<form @submit.prevent="search(searchterm)">
<input type='text' v-model="searchterm"/>
</form>
<btn v-if="show.buttons" v-for="type in types" @newlookup="newheader" @update="update" :type="type">^^type.name^^</btn>
